@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

:root {
  --main-h2-font: "Playfair Display SC", serif;
}

body {
  width: calc (100vw - 0.5rem);
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

/* Scrolling part */

.presentation.scrollX {
  transition: all 2s ease-in-out;
  animation-name: showSite;
  animation-duration: 2s;
  opacity: 1;
}
/* .presentation.scrollY {
  display: block;
  transition: all 2s ease-in-out;
  animation-name: hideSite;
  animation-duration: 2s;
  opacity: 0;
} */
.organisation.scrollX {
  transition: all 2s ease-in-out;
  animation-name: showSite;
  animation-duration: 2s;
  opacity: 1;
}
.methodology.scrollX {
  transition: all 2s ease-in-out;
  animation-name: showSite;
  animation-duration: 2s;
  opacity: 1;
}
.problematics.scrollX {
  transition: all 2s ease-in-out;
  animation-name: showSite;
  animation-duration: 2s;
  opacity: 1;
}
.fun.scrollX {
  transition: all 2s ease-in-out;
  animation-name: showSite;
  animation-duration: 2s;
  opacity: 1;
}
.footer.scrollX {
  opacity: 1;
  transition: all 2s ease-in-out;
  animation-name: showSite;
  animation-duration: 4s;
}
/* .presentation.scrollY {
  display: none;
  transition: all 2s ease-in-out;
  animation-name: hideSite;
  animation-duration: 2s;
} */

@keyframes showSite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideSite {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Responsive grid for desktop */

@media screen and (min-width: 768px) {
  .container-flex {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
  }
  .organisation-container {
    width: 45vw;
  }
  .organisation h2 {
    color: red;
    width: 20%;
  }
  .methodology {
    width: 45%;
  }
  .problematics {
    width: 45%;
  }
  .problematics h2 {
    color: red;
    width: 20%;
  }
  .fun {
    width: 45%;
  }
  .problematics > p {
    margin: 1rem 0;
  }
  .kahoot {
    justify-content: center;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

p {
  font-family: "Antic Slab", serif;
}

h2 {
  margin-left: 3vw;
  font-family: var(--main-h2-font);
  font-size: 3vw;
}

/* navigation  */

.navbar {
  position: fixed;
  display: none;
  background-color: rgba(190, 190, 190, 0.918);
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
}
.navbar__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  align-items: center;
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  text-align: center;
  animation-name: showNav;
  animation-duration: 800ms;
  /* animation-name: hideNav;
  animation-duration: 800ms; */
}
.navbar__links {
  font-family: var(--main-h2-font);
  font-size: 2.5rem;
}
.navbar__links > a {
  text-decoration: none;
  background: linear-gradient(to left, #141818 0%, #ddb892 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__links a:hover,
.navbar__links a:focus {
  font-size: 3rem;
  background: linear-gradient(to right, #141818 0%, #ddb892 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: showNav;
  animation-duration: 800ms;
}
/* .hide-nav {
  animation-name: hideNav;
  animation-duration: 800ms;
} */
@keyframes hideNav {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showNav {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.bar__anim {
  display: none;
}

/* .navbar__links {
  padding: 0 10px;
} */

/* BURGER */

.burger {
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 50px;
  z-index: 1000;
}

.burger:before,
.burger:after,
.burger > .bar {
  background: black;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.burger:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.burger:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.burger:hover .bar {
  transform: scale(0);
}

/* Header */

.header {
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header .illustration_mobile {
  animation-name: showElements;
  animation-duration: 3s;
  height: auto;
  max-width: 100%;
}

.header .illustration_desktop {
  display: none;
  animation-name: showElements;
  animation-duration: 3s;
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .header .illustration_desktop {
    display: block;
  }
  .header .illustration_mobile {
    display: none;
  }
}

@keyframes showElements {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Section presentation */

.presentation {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: 95%;
  opacity: 0;
}

img.karma-members {
  height: 4rem;
}

img.avatar {
  height: 4em;
}

img.logolangage {
  width: 2em;
  margin-top: 0.25em;
}

img.formCrew {
  width: 2em;
}

section.presentation > h3 {
  margin: 1.5em 0 1.2em 10px;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-size: 130%;
  color: #7f5539;
}

.trainers {
  margin: 0 0.7em;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 7rem;
  height: 8rem;
  background-color: #b08968;
  background-image: linear-gradient(0deg, #b08968 0%, #e6ccb2 100%);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #7f5539;
  border: #b08968 0.1em solid;
  text-align: center;
  padding-top: 0.5em;
  margin: 0.2em;
  filter: grayscale(75%);
}

.card:hover {
  border: #b08968 0.1em solid;
  box-shadow: 0.3em 0.3em 0.7em #7f5539;
  transition: transform 1s;
  transform: scale(1.4);
  filter: none;
  z-index: 5;
}

.card p {
  margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
  .card,
  .card:hover {
    width: 120%;
    height: 8rem;
    margin: 1em;
  }
  img.avatar,
  img.karma-members {
    width: 4.5em;
    height: auto;
  }
  p.trainersWho {
    margin: 1em 5% 0 5%;
  }
  section.presentation > h3 {
    margin: 0.5em 0 0.5em 10px;
  }
  p.trainersWho,
  p.karmaWho,
  p.circleMembers {
    font-size: 100%;
  }
  p.circleMembers {
    padding-left: 5%;
  }
  ul.karma-members {
    padding-top: 0;
  }
  li.allCrew:nth-child(2) {
    padding: 0;
    height: 4em;
  }
}

.trainersWho {
  margin: 5% 5% 0 5%;
}

p.trainersWho:first-letter {
  display: block;
  float: left;
  color: rgb(0, 0, 0);
  font-size: 200%;
  font-family: "Playfair Display SC", serif;
  margin-right: 0.2em;
}

.karmaWho {
  margin: 0 5% 2% 5%;
}

p.karmaWho:first-letter {
  display: block;
  float: left;
  color: rgb(0, 0, 0);
  font-size: 200%;
  font-family: "Playfair Display SC", serif;
  margin-right: 0.2em;
}

.crew {
  display: flex;
  justify-content: space-around;
  font-family: "Antic Slab", serif;
}

.formCrew {
  margin-bottom: 0.5em;
}

.allCrew {
  width: 6em;
  height: 4em;
  text-align: center;
  background-color: #b08968;
  border-radius: 0.4em;
  margin-top: 0.5em;
  padding-top: 0.8em;
}

li.allCrew:nth-child(2) {
  background-color: #e6ccb2;
  height: 4.5em;
  padding-top: 1.5em;
  border-radius: 0.4em 0.4em 0 0;
}

img.circleEmoji {
  width: 1.6em;
  margin-top: 0.25em;
}

.karma-members {
  display: flex;
  justify-content: space-around;
  background-color: #e6ccb2;
  background-size: cover;
  height: 9.8em;
  padding-top: 0.8em;
}

.circleMembers {
  background-color: #e6ccb2;
  max-width: 100%;
  height: 2.6em;
}

p.circleMembers:first-letter {
  display: block;
  float: left;
  color: rgb(0, 0, 0);
  font-size: 200%;
  font-family: "Playfair Display SC", serif;
  margin-right: 0.2em;
}

/* Section organisation */

.organisation {
  margin: 0 auto;
  height: 100vh;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: red;
  opacity: 0;
}

/* Grid display page "Organisation" */

.organisation-container {
  margin: 2rem 0.1rem;
  max-width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: yellow;
}

.organisation-container > article {
  margin: 3px;
}

.organisation-block1 {
  grid-column: 1 / 4;
  margin: 4px 4px 0px 4px;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.organisation-block2 {
  grid-column: 1 / 4;
  margin: 0px 4px 0px 4px;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.organisation-block3 {
  display: flex;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.organisation-block4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: space-around; */
  grid-column: 1 / 5;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.organisation-block5 {
  display: flex;
  grid-column: 1 / 3;
  /* border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px; */
}

.organisation-block6 {
  grid-column: 3 / 5;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

/* picture's dimensions */

.organisation-block3 > img {
  width: 100%;
  height: 50%;
  margin: auto;
  filter: grayscale(50%);
}

.organisation-block5 > img {
  height: 80%;
  width: 80%;
  margin: auto;
  filter: grayscale(50%);
}

/* font */

.organisation p {
  font-size: 0.7rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
    /* line-height: 1.2rem */
  }
}

/* text display */

.organisation-container article h3 {
  margin: 0.3rem 0.2rem;
  font-family: "Playfair Display SC", serif;
  color: #7f5539;
}

.organisation-container article p {
  margin: 0.2rem 0.4rem 0.3rem 0.6rem;
  max-width: 100%;
  /* text-align: justify; */
}

.organisation h2 {
  max-width: 90vw;
  align-self: flex-start;
  margin-left: 3rem;
}

/* Section methodology */

.methodology {
  max-width: 100%;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.section-name {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-size: 130%;
  color: #7f5539;
  margin: 2rem 0;
}

.scrum-title {
  font-size: 1rem;
  font-weight: 700;
}

.wild-title {
  font-size: 1rem;
  font-weight: 700;
}
.methodology-intro {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-right: 5%;
}

.methodology-intro p {
  /* font-size: 48px; */
  font-weight: 700;
  margin-top: 24px;
  width: 100vw;
  text-align: center;
}

.wild-method {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98vw;
  border-radius: 5px;
  margin-top: 24px;
}

.methods-blocks p {
  display: flex;
  margin: 0.2rem 0.4rem 0.3rem 0.6rem;
}

.scrum-method {
  display: flex;
  flex-direction: column;
  min-height: 60%;
  width: 50%;
  justify-content: center;
  text-align: center;
}
.wild-method {
  display: flex;
  flex-direction: column;
  min-height: 60%;
  width: 50%;
  justify-content: center;
  text-align: center;
}
.scrum-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.scrum-items p {
  overflow-wrap: break-word;
  font-size: 0.7rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.firstavoir {
  font-size: 0.7rem;
  flex-wrap: wrap;
  max-width: 95%;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.secondavoir {
  font-size: 0.7rem;
  flex-wrap: wrap;
  height: 30%;
  max-width: 95%;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.wild-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wild-items p {
  overflow-wrap: break-word;
  font-size: 0.7rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}

.wild-items p {
  width: 100%;
  font-size: 0.7rem;
}

.methods-blocks {
  width: 98%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 24px;
}
.methods-blocks p {
  display: flex;
  margin: 0.2rem 0.4rem 0.3rem 0.6rem;
}
.project-plan {
  font-size: 0.7rem;
  flex-wrap: wrap;
  height: 30%;
  max-width: 95%;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.daily {
  font-size: 0.7rem;
  flex-wrap: wrap;
  height: 30%;
  max-width: 95%;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.retro {
  font-size: 0.7rem;
  flex-wrap: wrap;
  height: 30%;
  max-width: 95%;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

.sprint-review {
  font-size: 0.7rem;
  flex-wrap: wrap;
  height: 30%;
  max-width: 95%;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}
.project-plan {
  font-size: 0.7rem;
  flex-wrap: wrap;
  height: 30%;
  max-width: 95%;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .methods-blocks {
    flex-direction: column;
  }
  .scrum-items p {
    height: 10vh;
    width: 90%;
  }
  .wild-items p {
    height: 10vh;
  }
  .scrum-items {
    width: 100%;
    gap: 1rem;
  }
  .wild-items {
    width: 100%;
    gap: 1rem;
  }
  .scrum-title {
    width: 90%;
    padding-bottom: 2%;
  }
  .wild-title {
    width: 90%;
    padding-bottom: 2%;
  }
  .methodology-intro {
    padding: 0%;
    justify-content: center;
  }
  .wild-method {
    width: 90%;
    /* align-items: center; */
  }
  .scrum-method {
    width: 90%;
  }
  .methods-blocks {
  }
}

/* @media screen and (min-width: 375px) and (max-width: 640px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .section-name {
    text-align: center;
    font-family: "Playfair Display SC", serif;
    font-size: 130%;
    color: #7f5539;
  }
  .methodology-intro {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    width: 100vw;
    text-align: center;
  }
  
  .wild-method {
    display: flex;
    flex-direction: column;
    min-height: 60%;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-right: 8px;
  }
  
  .scrum-method {
    display: flex;
    flex-direction: column;
    min-height: 60%;
    width: 50%;
    justify-content: center;
    text-align: center;
  }
  
  .wild-title {
   
    font-size: 20px;
    font-weight: 700;
  }
  .scrum-title {
    font-size: 20px;
    font-weight: 700;
    
  }
  
  .wild-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  }
  .scrum-items {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    width: 100%;
    height: 100%;
  }
  
  .wild-items p {
    overflow-wrap: break-word;
    font-size: 11.2px;
    font-weight: 500;
     display: flex;
    align-items: center;
    justify-content: center;
  }
=======
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
  }

>>>>>>> 18c09982625478520ad96af8d339990c098ec57b
  .scrum-items p {
    overflow-wrap: break-word;
    font-size: 11.2px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .firstavoir {
    font-size: 11.2px;
    flex-wrap: wrap;
    height: 30%;
    max-width: 95%;
    border: 2px solid black;
    box-shadow: black 0px 3px 8px;
    border-radius: 5px;
  }
  
  .secondavoir {
    font-size: 11.2px;
    flex-wrap: wrap;
    height: 30%;
    max-width: 95%;
    border: 2px solid black;
    box-shadow: black 0px 3px 8px;
    border-radius: 5px;
  }
  
  .sprint-review {
    font-size: 11.2px;
    flex-wrap: wrap;
    height: 30%;
    max-width: 95%;
    border: 2px solid black;
    box-shadow: black 0px 3px 8px;
    border-radius: 5px;
   
  }
  
  .wild-method {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    width: 45%;
    justify-content: center;
    text-align: center;
  }
  
  .wild-title {
    font-size: 20px;
    font-weight: 700;
  }
  
  .wild-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .wild-items p {
    width: 100%;
    font-size: 11.2px;
  }
} */

/* Section problematics */

.problematics {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  opacity: 0;
}
.problematics > h2 {
  max-width: 90%;
  align-self: flex-start;
  margin-left: 3rem;
}

.problematics > p {
  max-width: 90%;
  margin: auto 0;
  line-height: 1.5;
  font-size: 1rem;
}

.problems {
  margin-bottom: auto;
  min-height: 55%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.description {
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 10px;
}

.description > li {
  text-align: center;
  font-size: 0.8rem;
}

.problems > hr {
  margin: 0;
  width: 100%;
  height: 100%;
}

#border1 {
  height: 100%;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  border-left: 2.5px solid black;
  border-bottom: 2.5px solid black;
  border-bottom-left-radius: 10px;
  border-right: none;
  border-top: none;
}

#border2 {
  height: 100%;
  grid-column: 7 / span 1;
  grid-row: 3 / span 1;
  border-right: 2.5px solid black;
  border-bottom: 2.5px solid black;
  border-bottom-right-radius: 10px;
  border-left: none;
  border-top: none;
}

#border3 {
  height: 90%;
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  border-left: 2.5px solid black;
  border-top: 2.5px solid black;
  border-top-left-radius: 10px;
  border-right: none;
  border-bottom: none;
}

#border4 {
  height: 90%;
  grid-column: 7 / span 1;
  grid-row: 6 / span 1;
  border-right: 2.5px solid black;
  border-top: 2.5px solid black;
  border-top-right-radius: 10px;
  border-left: none;
  border-bottom: none;
}

.items {
  display: grid;
  grid-column: 3 / span 4;
  grid-row: 3 / span 4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 100%;
  background-color: rgb(230, 204, 178);
}

.items > li {
  grid-column: span 1;
  display: flex;
}

/* .description:hover {
border: #e6ccb2 0.1em solid;
box-shadow: 0.3em 0.3em 0.7em aqua;  
} */

.items > li:first-child {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.items > li:nth-child(2) {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.items > li:nth-child(3) {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.items > li:last-child {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.items > li:first-child > p {
  font-size: 1rem;
  transform: rotate(-45deg);
  align-self: center;
  text-align: center;
  flex-grow: 1;
}

.items > li:nth-child(2) > p {
  font-size: 1rem;
  transform: rotate(45deg);
  align-self: center;
  text-align: center;
  flex-grow: 1;
}

.items > li:nth-child(3) > p {
  font-size: 1rem;
  transform: rotate(45deg);
  align-self: center;
  text-align: center;
  flex-grow: 1;
}

.items > li:last-child > p {
  font-size: 1rem;
  transform: rotate(-45deg);
  align-self: center;
  text-align: center;
  flex-grow: 1;
}

.problems > ul:first-child {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.problems > ul:nth-child(2) {
  grid-column: 6 / span 3;
  grid-row: 1 / span 2;
}

.problems > ul:nth-child(3) {
  grid-column: 1 / span 3;
  grid-row: 7 / span 2;
}

.problems > ul:nth-child(4) {
  grid-column: 6 / span 3;
  grid-row: 7 / span 2;
}

/* Section fun */

.fun {
  max-width: 90%;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.fun h2 {
  max-width: 90%;
  align-self: flex-start;
  margin-left: 3rem;
}

.containerFun {
  margin: auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.teamName {
  margin: auto 0.5rem;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
.teamName > p {
  border: 1px solid black;
  box-shadow: black 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.teamName > p:first-child {
  text-align: center;
  font-size: 1.3rem;
  box-shadow: black 3px 3px 8px;
  border-radius: 30px 10px;
  grid-column: 5 / span 5;
  grid-row: 3 / span 3;
}
.teamName > p:nth-child(2) {
  grid-column: 11 / span 3;
  grid-row: 1 / span 1;
}

.teamName > p:nth-child(2):hover {
  grid-row: 1 / span 2;
  border: #b08968 0.1em solid;
  box-shadow: -0.3em -0.3em 2em #7f5539;
  transition: transform 1s;
  transform: scale(1.2);
  filter: none;
}

.teamName > p:nth-child(3) {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
}

.teamName > p:nth-child(3):hover {
  text-decoration: line-through;
  background-color: #7b7a7c;
  transition: transform 1s;
  transform: scale(1);
  filter: none;
}

.teamName > p:nth-child(4) {
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;
}

.teamName > p:nth-child(4):hover {
  text-decoration: line-through;
  background-color: #7b7a7c;
  transition: transform 1s;
  transform: scale(1);
  filter: none;
}

.teamName > p:nth-child(5) {
  grid-column: 6 / span 3;
  grid-row: 7 / span 1;
}

.teamName > p:nth-child(5):hover {
  text-decoration: line-through;
  background-color: #7b7a7c;
  transition: transform 1s;
  transform: scale(1);
  filter: none;
}

.teamName > p:last-child {
  grid-column: 11 / span 3;
  grid-row: 6 / span 1;
}

.teamName > p:last-child:hover {
  text-decoration: line-through;
  background-color: #7b7a7c;
  transition: transform 1s;
  transform: scale(1);
  filter: none;
}

.containerFun > h3 {
  border: 1px solid black;
  color: #7f5539;
  text-align: center;
  margin: auto 1rem;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.kahoot {
  display: flex;
  margin: auto 0.5rem;
  height: 45%;
}

.survey {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.week1 > img {
  width: 2.5rem;
  height: 2.5rem;
}

.week2 > img {
  width: 2.5rem;
  height: 2.5rem;
}

.week1 {
  max-width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.week1 > p:first-child {
  font-size: 1.5rem;
  margin: auto;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.week1 > img:nth-child(2) {
  margin: 0.3rem;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.week1 > img:nth-child(3) {
  margin: 0.3rem;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.week1 > img:nth-child(4) {
  margin: 0.3rem;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}

.ranking {
  grid-column: 1 / span 3;
  grid-row: 1 / span 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.ranking > li {
  align-items: center;
  justify-content: center;
  width: 2.75rem;
}

.ranking > li:first-child {
  margin: 0.1rem;
  border: 1px solid black;
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 5 / span 2;
}
.ranking > li:nth-child(2) {
  margin: 0.1rem;
  border: 1px solid black;
  display: flex;
  grid-row: 3 / span 4;
}
.ranking > li:last-child {
  margin: 0.1rem;
  border: 1px solid black;
  display: flex;
  grid-row: 6 / span 1;
}

.ranking > li > p {
  transform: rotate(-90deg);
}

.week2 {
  max-width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.week2 > p:first-child {
  font-size: 1.5rem;
  margin: auto;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.week2 > img:nth-child(2) {
  margin: 0.3rem;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.week2 > img:nth-child(3) {
  margin: 0.3rem;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.week2 > img:nth-child(4) {
  margin: 0.3rem;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}

/* Section footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
  opacity: 0;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  gap: 0.5rem;
}

.footer-img {
  height: 60%;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  animation-delay: 2s;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-img img {
  /* min-width: 10%; */
  max-width: 15%;
}

.footer-text {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text p {
  font-size: 1rem;
  line-height: 2.3rem;
}
.footer-text p:last-child {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 10vh;
    height: 40vh;
  }
  .footer-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .footer-text p {
    font-size: 2rem;
  }
  .footer-img img {
    min-width: 4vw;
    min-height: 4vh;
  }
}
