@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

:root {
    --main-h2-font : font-family: 'Playfair Display SC', serif;
}

body {
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
}

p {
    font-family: 'Antic Slab', serif;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
}

/* navigation  */

.bar-nav nav{
    position: fixed;
    width: 10vw;
    height: 10vh;
}

.bar-nav .logo {
    height: 10vh;
}

/* Header */

.header {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header img{
    height: 6rem;
    width: 23rem;
}

/* Section presentation */

.presentation {
    width: 100vw;
    height: 100vh;
}

section.presentation>h3 {
    margin: 20px 0 20px 10px;
   text-align: center;
}

.trainers {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.crew {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.karma-members {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Section organisation */

.organisation {
        
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

/* Grid display page "Organisation" */

.organisation-container {
    margin: auto 0.5rem;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid black;
}

.organisation-container > article {
      
    margin: 10px;
    border: 3px solid red;
    box-shadow: black 0px 3px 8px;
    border-radius: 5px;
    background-color:aqua
}

.organisation-block1 {
    grid-column: 1 / 2;
    border: 3xp solid red;
}
.organisation-block2 {
    grid-column: 2 / 5;
}
.organisation-block3 {
    grid-column: 1 / 4;
}
.organisation-block4 {
    grid-column: 4 / 5;
}
.organisation-block5 {
    grid-column: 1 / 2;
}
.organisation-block6 {
    grid-column: 2 / 5;
}
.organisation-block7 {
    grid-column: 1 / 4;
}
.organisation-block8 {
    grid-column: 4 / 5; 
}

/* picture's dimensions */

.organisation-block1>img {
    height: 20vh;
    width: 20vw;
}
.organisation-block8>img {
    height: 20vh;
    width: 30vw;
}


/* Section methodology */

.methodology {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    margin-bottom: 128px;
}
.scrum-title {
    display: flex;
    text-align: center;
}

.methods-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.scrum-method {
    display: flex;
    background-color: grey;
    height: 800px;
    width: 40vh;
    justify-content: center;
   
}
.wild-method {
    display: flex; 
    background-color: grey;
    height: 800px;
    width: 40vh;
    justify-content: center;
}
.scrum-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.firstavoir {
    height: 300px;
    width: 300px;
    background-color: aqua;
}

.secondavoir {
    height: 300px;
    width: 300px;
    background-color: aqua;
}

.wild-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}

.daily {
    height: 300px;
    width: 300px;
    background-color: aqua;
}

.retro {
    height: 300px;
    width: 300px;
    background-color: aqua;
}



/* Section problematics */

.problematics {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.problematics > p {
    margin: auto 0.5rem;
}

.problematics > div {
    margin: auto 0;
    width : 100%;
    height: 55%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px dotted black;
    border-radius: 10px;

}

.items {
    display: grid;
    grid-column: 3 / span 4 ; 
    grid-row: 3 / span 4 ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
    border-radius: 100%;
    background-color: rgb(230, 204, 178) ;
}

.items > li {
    grid-column: span 1;
    display: flex;
}

.items > li:first-child {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.items > li:nth-child(2) {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.items > li:nth-child(3) {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.items > li:last-child  {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.items > li:first-child > p {
    transform: rotate(-45deg);
    align-self: center;
    text-align: center;
    flex-grow: 1;
}

.items > li:nth-child(2) > p {
    transform: rotate(45deg);
    align-self: center;
    text-align: center;
    flex-grow: 1;
}

.items > li:nth-child(3) > p {
    transform: rotate(45deg);
    align-self: center;
    text-align: center;
    flex-grow: 1;
}

.items > li:last-child > p {
    transform: rotate(-45deg);
    align-self: center;
    text-align: center;
    flex-grow: 1;
}

.problematics > div > ul:first-child{
    grid-column: 1 / span 2 ; 
    grid-row: 1 / span 2 ;
}

.problematics > div > ul:nth-child(2){
    grid-column: 7 / span 2 ; 
    grid-row: 1 / span 2 ;
}

.problematics > div > ul:nth-child(3){
    grid-column: 1 / span 2 ; 
    grid-row: 7 / span 2 ;
}

.problematics > div > ul:nth-child(4){
    grid-column: 7 / span 2 ; 
    grid-row: 7 / span 2 ;
}

/* Section fun */

.fun {
    width: 100vw;
    height: 100vh;
}

/* Section footer */
.footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    gap: 0.5rem;
}
.container-footer img {
    width: 20vh;
}
.container-footer p {
    font-size: 1rem;
}
.container-footer p:first-of-type{
    margin-top: 2rem;
}